
# AI
crewai
langchain-openai
langchain-community

# Data
python-dotenv
pandas
sqlalchemy
pydantic
dateparser
tqdm
python-multipart

# Frontend
streamlit
streamlit-calendar

# API
fastapi
uvicorn
passlib[bcrypt]
python-jose
httpx